<div class="container">
  <h1>Dashboard</h1>

  <div class="dashboard-numbers">
    <%= link_to boat_profiles_path do %>
      <div class='text-center dashboard-number'>
        <p class="big-numbers"><%= @boat_profile_count %></p>
        <p>boat profiles</p>
      </div>
    <% end %>
    <div class='text-center dashboard-number'>
      <p class="big-numbers"><%= @listing_count %></p>
      <p>boat listings</p>
    </div>
    <div class='text-center dashboard-number'>
      <p class="big-numbers"><%= @listing_price_count %></p>
      <p>price records</p>
    </div>
  </div>

  <%= link_to "Download data as a CSV", download_path(format: :csv), class: 'yellow-button' %>
</div>

